[Desktop Entry]
Encoding=UTF-8
Name=Postman
Exec={{ ansible_env.HOME }}/Postman/app/Postman %U
Icon={{ ansible_env.HOME }}/Postman/app/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;
